{% extends "navbar.html" %} 
{% block content %}
<div class="container">
  <!-- Row 1 -->
  <div class="row mb-3">
    <div class="col-12 col-md-7">Row 1 - 60%</div>
    <div class="col-12 col-md-5">Row 1 - 40%</div>
  </div>

  <!-- Row 2 -->
  <div class="row mb-3">
    <div class="col-12 col-md-7">Row 2 - 60%</div>
    <div class="col-12 col-md-5">Row 2 - 40%</div>
  </div>

  <!-- Row 3 -->
  <div class="row mb-3">
    <div class="col-12 col-md-7">Row 3 - 60%</div>
    <div class="col-12 col-md-5">Row 3 - 40%</div>
  </div>
</div>
{% endblock content %}